.home-page{
  background:url('https://images.pexels.com/photos/17834/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat;
  background-position: center;
  background-size:cover;
  z-index:-1;
  background-attachment:fixed;
  height:60vh
}
.home{
    padding: 30px 0px 0px 20%;
    color:white;
    width:50%
}
form{
  color:white;
  font-size:20px;
}
.B{
    width:100%;
    /* background-border:; */
    color:white;
    text-align:center;
}
.B button{
  font-size:20px
}